{% extends "matchups/base.html" %}

{% block content %}
<div style="text-align: center; margin-left:10px; margin-right:10px;">
    <div style="display: inline-block; text-align: left;">
        <br>
        <ul><b>Frame data for attacks out of shield are calculated as follows:</b>
            <li>Up-B, U-Smash can be used immediately out of shield. </li>
            <li>Aerials add a 3 frame jumpsquat to the startup (can jump immediately out of shield).</li>										
            <li>Grabs out of shield add 4 frames to startup.</li>
            <li>Dash attacks add 11 frames required to drop shield and an extra 1 frame to begin the dash.</li>												
            <li>All other options add 11 frames needed to drop shield to startup.</li>
        </ul>
        Use the site to see what moves you can use to punish an opponent's move that hit your shield. <br>
        Also, you can see which moves are unpunishable or only lightly punishable by your opponent on shield. <br>
        <br><br>
        <b>F.A.Q.</b><br>
        <i>What is 'Rapid Finisher'?</i> <br>
        The rapid finisher of a jab. <br> <br>
        <i>Aren't there some missing out of shield options? </i><br>
        Aerial specials and specials after dropping shield are not included, <br>
        to simplify options and due to difficulty labeling the many special moves, sorry :( <br> <br>
        <i>What out of shield options are included?</i> <br>
        All aerials, smash attacks, tilts, z-airs, grab, and up specials. <br> <br>
        <i>Are there some missing attacks on shield?</i> <br>
        Attacks that put you in free fall like Mario Up-B are not covered, <br>
        as you can generally use your imagination to punish :)
    </div>
    
</div>
{% endblock %}