{% extends "matchups/base.html" %}

{% block content %}
<div style="text-align: center; margin-left:10px; margin-right:10px;">
    <div style="display: inline-block; text-align: left;">
        <br>
        <ul><b>Frame data for attacks out of shield are calculated as follows:</b>
            <li>Up-B, U-Smash can be used immediately out of shield. </li>
            <li>Aerials add a 3 frame jumpsquat to the startup (can jump immediately out of shield).</li>										
            <li>Grabs out of shield add 4 frames to startup.</li>												
            <li>All other options add 11 frames needed to drop shield to startup.</li>
        </ul>
        Use the site to see what moves you can use to punish an opponent's move that hit your shield. <br>
        Also, you can see which moves are unpunishable or only lightly punishable by your opponent on shield.
    </div>
    
</div>
{% endblock %}