{% extends "matchups/base.html" %}

{% block content %}
<div style="text-align: center; margin-left:10px; margin-right:10px;">
    <div style="display: inline-block; text-align: left;">
        <br>
        <ul><b>Frame data for attacks out of shield are calculated as follows:</b> </ul>
        <li>Up-B, U-Smash can be used immediately out of shield. </li>
        <li>Aerials add a 3 frame jumpsquat to the startup (can jump immediately out of shield).</li>										
        <li>Grabs out of shield add 4 frames to startup.</li>												
        <li>All other options add 11 frames needed to drop shield to startup.</li>
    </div>
</div>
{% endblock %}