{% extends "matchups/base.html" %}

{% block content %}
<div class="jumbotron text-center" style="background:transparent">
    Site creator: JWON<br><br>
    Twitter: <a href="https://twitter.com/JWON_SSB">@JWON_SSB</a><br><br>
    Other projects: <a href="http://www.ssbu-stage-guides.com/">SSBU Stage Guides</a><br><br>
    Feedback welcome at <a href="mailto:ssbu.stage.guides@gmail.com">jwon.ssb@gmail.com</a>.<br><br>
    Ultimate Data from: <a  href="https://docs.google.com/spreadsheets/d/16fmsoqDoQaR1eteVk2uuzIH2DB4iQHVrqiG8VRbRA7Q">Zapp Branniglenn's Google Sheet</a><br><br>
    Melee Data from: <a  href="https://www.reddit.com/r/SSBM/comments/gglsgm/spreadsheet_with_move_frame_data/">u/jpkolbush</a>, <a href="https://smashboards.com/threads/out-of-shield-options-frame-data.294336/">Wiseman.</a>, <a href="https://docs.google.com/spreadsheets/d/1KwdYkNVcJbJxV_Ijqi-jyrWjGcJH4lR2e2lfrDuDC0g">This Google Doc</a>
    <br> <br>
</div>
{% endblock %}

{% block metadata %}
<title>Credits</title>
<meta name="title" content="Credits">
<meta name="description" content="Credits page for outofshield.com.">
<meta name="keywords" content="credits, out of shield, out of shield punishes, out of shield punishes ultimate, out of shield punishes melee">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
{% endblock %}