{% extends "matchups/base.html" %}

{% block content %}
<div class="jumbotron text-center" style="background:transparent">
    Site creator: JWON<br><br>
    Twitter: <a href="https://twitter.com/JWON_SSB">@JWON_SSB</a><br><br>
    Feedback welcome at <a href="mailto:ssbu.stage.guides@gmail.com">jwon.ssb@gmail.com</a>.<br><br>
    Data from: <a  href="https://docs.google.com/spreadsheets/d/16fmsoqDoQaR1eteVk2uuzIH2DB4iQHVrqiG8VRbRA7Q/">Zapp Branniglenn's Google Sheet</a>
    <br> <br>
</div>
{% endblock %}

{% block metadata %}
<title>Credits</title>
<meta name="title" content="Credits">
<meta name="description" content="Get out of shield punishes for all moves and matchups in Smash Ultimate. Alternatively, see which of your character's moves are unpunishable.">
<meta name="keywords" content="credits, out of shield, out of shield punishes, out of shield punishes ultimate">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
{% endblock %}