{% extends "matchups/base.html" %}

{% block content %}

<div class="p-2 mb-2 text-dark" style="background-color: rgba(128, 128, 128, 0.15);">
<div class="text-center">
<h1><b>Get out of shield punishes for every matchup in Smash Ultimate!</b></h1>
<h3>Alternatively, see which of your moves are safe on shield.</h3>
<h4>Currently updated to patch 9.0.1</h4>
</div>
</div>

<div class="text-center">
    <form action="{% url 'matchups:matchup' %}" method="get">
      <b>Matchup Search</b><br>
      <label for="Your Character">Enter your character: &nbsp; &nbsp; &nbsp; &nbsp;</label>
      <select class="selectpicker" data-live-search="true" data-live-search-style="startsWith" id="Your Character" name="Your Character" title="Enter character name..." required>
        <option value="Banjo & Kazooie">Banjo & Kazooie</option>
        <option value="Bayonetta">Bayonetta</option>
        <option value="Bowser">Bowser</option>
        <option value="Bowser Jr." data-tokens="Jr.">Bowser Jr.</option>
        <option value="Byleth">Byleth</option>
        <option value="Captain Falcon">Captain Falcon</option>
        <option value="Charizard">Charizard</option>
        <option value="Chrom">Chrom</option>
        <option value="Cloud">Cloud</option>
        <option value="Corrin">Corrin</option>
        <option value="Diddy Kong">Diddy Kong</option>
        <option value="Donkey Kong">Donkey Kong</option>
        <option value="Dr. Mario" data-tokens="Doctor">Dr. Mario</option>
        <option value="Duck Hunt">Duck Hunt</option>
        <option value="Falco">Falco</option>
        <option value="Fox">Fox</option>
        <option value="Ganondorf">Ganondorf</option>
        <option value="Greninja">Greninja</option>
        <option value="Hero">Hero</option>
        <option value="Ice Climbers" data-tokens="Climbers">Ice Climbers</option>
        <option value="Ike">Ike</option>
        <option value="Incineroar">Incineroar</option>
        <option value="Inkling">Inkling</option>
        <option value="Isabelle">Isabelle</option>
        <option value="Ivysaur">Ivysaur</option>
        <option value="Jigglypuff">Jigglypuff</option>
        <option value="Joker">Joker</option>
        <option value="Ken">Ken</option>
        <option value="King Dedede" data-tokens="Dedede">King Dedede</option>
        <option value="King K. Rool" data-tokens="K Rool">King K. Rool</option>
        <option value="Kirby">Kirby</option>
        <option value="Link">Link</option>
        <option value="Little Mac">Little Mac</option>
        <option value="Lucario">Lucario</option>
        <option value="Lucas">Lucas</option>
        <option value="Lucina">Lucina</option>
        <option value="Luigi">Luigi</option>
        <option value="Mario">Mario</option>
        <option value="Marth">Marth</option>
        <option value="Mega Man">Mega Man</option>
        <option value="Meta Knight">Meta Knight</option>
        <option value="Mewtwo">Mewtwo</option>
        <option value="Mii Brawler" data-tokens="Brawler">Mii Brawler</option>
        <option value="Mii Gunner" data-tokens="Gunner">Mii Gunner</option>
        <option value="Mii Swordfighter" data-tokens="Swordfighter">Mii Swordfighter</option>
        <option value="Min Min">Min Min</option>
        <option value="Mr. Game & Watch" data-tokens="Game & Watch">Mr. Game & Watch</option>
        <option value="Ness">Ness</option>
        <option value="Olimar">Olimar</option>
        <option value="Pac-Man">Pac-Man</option>
        <option value="Palutena">Palutena</option>
        <option value="Peach/Daisy" data-tokens="Daisy">Peach/Daisy</option>
        <option value="Pichu">Pichu</option>
        <option value="Pikachu">Pikachu</option>
        <option value="Piranha Plant" data-tokens="Plant">Piranha Plant</option>
        <option value="Pit/Dark Pit" data-tokens="Dark Pit">Pit/Dark Pit</option>
        <option value="Ridley">Ridley</option>
        <option value="R.O.B." data-tokens="ROB">R.O.B.</option>
        <option value="Robin">Robin</option>
        <option value="Rosalina & Luma">Rosalina & Luma</option>
        <option value="Roy">Roy</option>
        <option value="Ryu">Ryu</option>
        <option value="Samus/Dark Samus" data-tokens="Dark Samus">Samus/Dark Samus</option>
        <option value="Sheik">Sheik</option>
        <option value="Shulk">Shulk</option>
        <option value="Simon/Richter" data-tokens="Richter">Simon/Richter</option>
        <option value="Snake">Snake</option>
        <option value="Sonic">Sonic</option>
        <option value="Squirtle">Squirtle</option>
        <option value="Steve">Steve</option>
        <option value="Terry">Terry</option>
        <option value="Toon Link">Toon Link</option>
        <option value="Villager">Villager</option>
        <option value="Wario">Wario</option>
        <option value="Wii Fit Trainer">Wii Fit Trainer</option>
        <option value="Wolf">Wolf</option>
        <option value="Yoshi">Yoshi</option>
        <option value="Young Link">Young Link</option>
        <option value="Zelda">Zelda</option>
        <option value="Zero Suit Samus">Zero Suit Samus</option>
      </select>

      <div style="height:7px;font-size:7px;">&nbsp;</div>


      <label for="Opponent Character">Enter opponent character:</label>
      <select class="selectpicker" data-live-search="true" data-live-search-style="startsWith" name="Opponent Character" id="Opponent Character" title="Enter character name..." required>
        <option value="Banjo & Kazooie">Banjo & Kazooie</option>
        <option value="Bayonetta">Bayonetta</option>
        <option value="Bowser">Bowser</option>
        <option value="Bowser Jr." data-tokens="Jr.">Bowser Jr.</option>
        <option value="Byleth">Byleth</option>
        <option value="Captain Falcon">Captain Falcon</option>
        <option value="Charizard">Charizard</option>
        <option value="Chrom">Chrom</option>
        <option value="Cloud">Cloud</option>
        <option value="Corrin">Corrin</option>
        <option value="Diddy Kong">Diddy Kong</option>
        <option value="Donkey Kong">Donkey Kong</option>
        <option value="Dr. Mario" data-tokens="Doctor">Dr. Mario</option>
        <option value="Duck Hunt">Duck Hunt</option>
        <option value="Falco">Falco</option>
        <option value="Fox">Fox</option>
        <option value="Ganondorf">Ganondorf</option>
        <option value="Greninja">Greninja</option>
        <option value="Hero">Hero</option>
        <option value="Ice Climbers" data-tokens="Climbers">Ice Climbers</option>
        <option value="Ike">Ike</option>
        <option value="Incineroar">Incineroar</option>
        <option value="Inkling">Inkling</option>
        <option value="Isabelle">Isabelle</option>
        <option value="Ivysaur">Ivysaur</option>
        <option value="Jigglypuff">Jigglypuff</option>
        <option value="Joker">Joker</option>
        <option value="Ken">Ken</option>
        <option value="King Dedede" data-tokens="Dedede">King Dedede</option>
        <option value="King K. Rool" data-tokens="K Rool">King K. Rool</option>
        <option value="Kirby">Kirby</option>
        <option value="Link">Link</option>
        <option value="Little Mac">Little Mac</option>
        <option value="Lucario">Lucario</option>
        <option value="Lucas">Lucas</option>
        <option value="Lucina">Lucina</option>
        <option value="Luigi">Luigi</option>
        <option value="Mario">Mario</option>
        <option value="Marth">Marth</option>
        <option value="Mega Man">Mega Man</option>
        <option value="Meta Knight">Meta Knight</option>
        <option value="Mewtwo">Mewtwo</option>
        <option value="Mii Brawler" data-tokens="Brawler">Mii Brawler</option>
        <option value="Mii Gunner" data-tokens="Gunner">Mii Gunner</option>
        <option value="Mii Swordfighter" data-tokens="Swordfighter">Mii Swordfighter</option>
        <option value="Min Min">Min Min</option>
        <option value="Mr. Game & Watch" data-tokens="Game & Watch">Mr. Game & Watch</option>
        <option value="Ness">Ness</option>
        <option value="Olimar">Olimar</option>
        <option value="Pac-Man">Pac-Man</option>
        <option value="Palutena">Palutena</option>
        <option value="Peach/Daisy" data-tokens="Daisy">Peach/Daisy</option>
        <option value="Pichu">Pichu</option>
        <option value="Pikachu">Pikachu</option>
        <option value="Piranha Plant" data-tokens="Plant">Piranha Plant</option>
        <option value="Pit/Dark Pit" data-tokens="Dark Pit">Pit/Dark Pit</option>
        <option value="Ridley">Ridley</option>
        <option value="R.O.B." data-tokens="ROB">R.O.B.</option>
        <option value="Robin">Robin</option>
        <option value="Rosalina & Luma">Rosalina & Luma</option>
        <option value="Roy">Roy</option>
        <option value="Ryu">Ryu</option>
        <option value="Samus/Dark Samus" data-tokens="Dark Samus">Samus/Dark Samus</option>
        <option value="Sheik">Sheik</option>
        <option value="Shulk">Shulk</option>
        <option value="Simon/Richter" data-tokens="Richter">Simon/Richter</option>
        <option value="Snake">Snake</option>
        <option value="Sonic">Sonic</option>
        <option value="Squirtle">Squirtle</option>
        <option value="Steve">Steve</option>
        <option value="Terry">Terry</option>
        <option value="Toon Link">Toon Link</option>
        <option value="Villager">Villager</option>
        <option value="Wario">Wario</option>
        <option value="Wii Fit Trainer">Wii Fit Trainer</option>
        <option value="Wolf">Wolf</option>
        <option value="Yoshi">Yoshi</option>
        <option value="Young Link">Young Link</option>
        <option value="Zelda">Zelda</option>
        <option value="Zero Suit Samus">Zero Suit Samus</option>
      </select>
    
      
    
      <div class="text">
        <div style="height:8px;font-size:8px;">&nbsp;</div>
        <button type="submit" class="btn btn-primary">Get punish options!</button>
      </div>
    </form>
    </div>

    <div class="text-center">
      <br>-or-<br><br>
      <b>Character Search</b>
      <form action="{% url 'matchups:character' %}" method="get">
        <select class="selectpicker" data-live-search="true" data-live-search-style="startsWith" id="Character" name="Character" title="Enter character name..." required>
          <option value="Banjo & Kazooie">Banjo & Kazooie</option>
          <option value="Bayonetta">Bayonetta</option>
          <option value="Bowser">Bowser</option>
          <option value="Bowser Jr." data-tokens="Jr.">Bowser Jr.</option>
          <option value="Byleth">Byleth</option>
          <option value="Captain Falcon">Captain Falcon</option>
          <option value="Charizard">Charizard</option>
          <option value="Chrom">Chrom</option>
          <option value="Cloud">Cloud</option>
          <option value="Corrin">Corrin</option>
          <option value="Diddy Kong">Diddy Kong</option>
          <option value="Donkey Kong">Donkey Kong</option>
          <option value="Dr. Mario" data-tokens="Doctor">Dr. Mario</option>
          <option value="Duck Hunt">Duck Hunt</option>
          <option value="Falco">Falco</option>
          <option value="Fox">Fox</option>
          <option value="Ganondorf">Ganondorf</option>
          <option value="Greninja">Greninja</option>
          <option value="Hero">Hero</option>
          <option value="Ice Climbers" data-tokens="Climbers">Ice Climbers</option>
          <option value="Ike">Ike</option>
          <option value="Incineroar">Incineroar</option>
          <option value="Inkling">Inkling</option>
          <option value="Isabelle">Isabelle</option>
          <option value="Ivysaur">Ivysaur</option>
          <option value="Jigglypuff">Jigglypuff</option>
          <option value="Joker">Joker</option>
          <option value="Ken">Ken</option>
          <option value="King Dedede" data-tokens="Dedede">King Dedede</option>
          <option value="King K. Rool" data-tokens="K Rool">King K. Rool</option>
          <option value="Kirby">Kirby</option>
          <option value="Link">Link</option>
          <option value="Little Mac">Little Mac</option>
          <option value="Lucario">Lucario</option>
          <option value="Lucas">Lucas</option>
          <option value="Lucina">Lucina</option>
          <option value="Luigi">Luigi</option>
          <option value="Mario">Mario</option>
          <option value="Marth">Marth</option>
          <option value="Mega Man">Mega Man</option>
          <option value="Meta Knight">Meta Knight</option>
          <option value="Mewtwo">Mewtwo</option>
          <option value="Mii Brawler" data-tokens="Brawler">Mii Brawler</option>
          <option value="Mii Gunner" data-tokens="Gunner">Mii Gunner</option>
          <option value="Mii Swordfighter" data-tokens="Swordfighter">Mii Swordfighter</option>
          <option value="Min Min">Min Min</option>
          <option value="Mr. Game & Watch" data-tokens="Game & Watch">Mr. Game & Watch</option>
          <option value="Ness">Ness</option>
          <option value="Olimar">Olimar</option>
          <option value="Pac-Man">Pac-Man</option>
          <option value="Palutena">Palutena</option>
          <option value="Peach/Daisy" data-tokens="Daisy">Peach/Daisy</option>
          <option value="Pichu">Pichu</option>
          <option value="Pikachu">Pikachu</option>
          <option value="Piranha Plant" data-tokens="Plant">Piranha Plant</option>
          <option value="Pit/Dark Pit" data-tokens="Dark Pit">Pit/Dark Pit</option>
          <option value="Ridley">Ridley</option>
          <option value="R.O.B." data-tokens="ROB">R.O.B.</option>
          <option value="Robin">Robin</option>
          <option value="Rosalina & Luma">Rosalina & Luma</option>
          <option value="Roy">Roy</option>
          <option value="Ryu">Ryu</option>
          <option value="Samus/Dark Samus" data-tokens="Dark Samus">Samus/Dark Samus</option>
          <option value="Sheik">Sheik</option>
          <option value="Shulk">Shulk</option>
          <option value="Simon/Richter" data-tokens="Richter">Simon/Richter</option>
          <option value="Snake">Snake</option>
          <option value="Sonic">Sonic</option>
          <option value="Squirtle">Squirtle</option>
          <option value="Steve">Steve</option>
          <option value="Terry">Terry</option>
          <option value="Toon Link">Toon Link</option>
          <option value="Villager">Villager</option>
          <option value="Wario">Wario</option>
          <option value="Wii Fit Trainer">Wii Fit Trainer</option>
          <option value="Wolf">Wolf</option>
          <option value="Yoshi">Yoshi</option>
          <option value="Young Link">Young Link</option>
          <option value="Zelda">Zelda</option>
          <option value="Zero Suit Samus">Zero Suit Samus</option>
        </select>

        <div class="text">
          <div style="height:8px;font-size:8px;">&nbsp;</div>
          <button type="submit" class="btn btn-primary">Get out-of-shield options!</button>
        </div>
      </form>
    </div>

    <br>
    <br>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

    <!-- Footer -->
    <footer class="footer">
      <div class="container-fluid text-center text-md-right">
      
        <a href="{% url 'matchups:cookie' %}">Cookie Policy</a> &middot;
        <a href="{% url 'matchups:privacy' %}">Privacy Policy</a> &middot;
        <a href="{% url 'matchups:terms' %}">Terms & Conditions</a>
      
    </div>
      
    </footer>

{% endblock %}

{% block metadata %}
<title>Out of Shield Punishes Ultimate</title>
<meta name="title" content="Out of Shield Punishes Ultimate">
<meta name="description" content="Get out of shield punishes for all moves and matchups in Smash Ultimate. Alternatively, see which of your character's moves are safe on shield (unpunishable).">
<meta name="keywords" content="out of shield, out of shield punishes, safe on shield, out of shield ultimate, out of shield options, out of shield smash ultimate, out of shield punishes ultimate, safe on shield ultimate, safe on shield smash ultimate, out of shield matchups, matchup info, matchups, on block, on shield, ultimate on shield, on shield punishes, smash ultimate, ultimate, smash bros, Super Smash Bros. Ultimate, Super Smash Bros. Ultimate matchups, competitive smash, out of shield melee, melee">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">


<style>
  h1 {font-size:28px;}
  h3 {font-size:18px;}
  h4 {font-size:13px;}

  @media (min-width: 544px) {  
    h1 {font-size:32px;}
    h3 {font-size:18px;}
    h4 {font-size:13px;}
  }
  
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    h1 {font-size:32px;}
    h3 {font-size:18px;}
    h4 {font-size:13px;}
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    h1 {font-size:40px;}
    h3 {font-size:24px;}
    h4 {font-size:18px;}
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 992px) { 
    h1 {font-size:40px;}
    h3 {font-size:24px;}
    h4 {font-size:18px;}
  }
</style>
{% endblock %}