{% extends "matchups/base.html" %}

{% block content %}
<div style="text-align: center; margin-left:10px; margin-right:10px;">
    <div style="display: inline-block; text-align: left;">
        <h3><b>{{shieldChar}}'s Out of Shield Punishes against {{attackChar}} </b></h3>

        <b>Out of Shield option format:</b> <br>
        "Move: Frame Active OOS [Startup Frames]" <br>
        <b>Attack on shield format:</b> <br>
        "Move: Least Frames Negative on Shield [All Possible Frame Advantage on Shield]" <br>
        <b>Moves in bold can be used to punish all attacks on shield below them (not accounting for spacing/whiffing).</b> <br><br>

        {% for group in punishList %}

            {% if not group.0 %}
            <b>Unpunishable:</b> <br>
            {% else %}
            <b>Punishable by:</b> <br>
            {% endif %}

            {% for move in group.0 %}
                <b>{{move.0}}: {{move.1}} &nbsp;[{{move.3}}]</b><br>
            {% endfor %}
            <hr>


            {% for move in group.1 %}
                {{move.0}}: {{move.1}} &nbsp;[{{move.2}}]<br>
            {% endfor %}
            <br>
        {% endfor %}

        <!-- debugging statements
        <br>

        {% for move in shieldFrame %}
            {{move.0}}: {{move.1}} &nbsp;[{{move.3}}]<br>
        {% endfor %}

        <br>

        {% for move in attackFrame %}
            {{move.0}}: {{move.1}} &nbsp;[{{move.2}}]<br>
        {% endfor %}

        <br>

        {% for move in shieldCharData %}
            {{move.move}}: {{move.startup}} <br>
        {% endfor %}

        <br>

        {% for move in attackCharData %}
            {{move.move}}: {{move.advantage}} <br>
        {% endfor %}

        -->
    </div>
</div>

{% endblock %}

{% block metadata %}
<title>{{shieldChar}} vs. {{attackChar}}</title>
<meta name="title" content="{{shieldChar}} vs. {{attackChar}}">
<meta name="description" content="Get out of shield punishes for all moves and matchups in Smash Ultimate. Alternatively, see which of your character's moves are unpunishable.">
<meta name="keywords" content="{{shieldChar}} vs. {{attackChar}}, {{shieldChar}} vs {{attackChar}}, {{shieldChar}} vs. {{attackChar}} out of shield, {{shieldChar}} vs. {{attackChar}} punishes, out of shield, out of shield punishes, out of shield ultimate, out of shield punishes ultimate, out of shield matchups, matchup info, matchups, on block, on shield, ultimate on shield, on shield punishes, smash ultimate, ultimate, smash bros, Super Smash Bros. Ultimate, Super Smash Bros. Ultimate matchups, competitive smash">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
{% endblock %}
